.p-1 {
  padding: 0.25rem;
}
.p-4 {
  padding: 1rem;
}
.mt-4 {
  margin-top: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}
.mb-4 {
  margin-bottom: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.z-10 {
  z-index: 10;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.top-0 {
  top: 0;
}
.flex {
  display: flex;
}
.w-full {
  width: 100%;
}
.text-green-500 {
  --text-opacity: 1;
  color: rgba(72, 187, 120, var(--text-opacity));
}
.text-gray-500 {
  --text-opacity: 1;
  color: #a0aec0;
  color: rgba(160, 174, 192, var(--text-opacity));
}
.text-red-200 {
  --text-opacity: 1;
  color: rgba(254, 215, 215, var(--text-opacity));
}
.text-blue-200 {
  --text-opacity: 1;
  color: rgba(190, 227, 248, var(--text-opacity));
}
.text-yellow-200 {
  --text-opacity: 1;
  color: rgba(254, 252, 191, var(--text-opacity));
}
.bg-green-200 {
  --bg-opacity: 1;
  background-color: rgba(198, 246, 213, var(--bg-opacity));
}
.bg-red-200 {
  --bg-opacity: 1;
  background-color: rgba(254, 215, 215, var(--bg-opacity));
}
.bg-blue-200 {
  --bg-opacity: 1;
  background-color: rgba(190, 227, 248, var(--bg-opacity));
}
.bg-yellow-200 {
  --bg-opacity: 1;
  background-color: rgba(254, 252, 191, var(--bg-opacity));
}
.bg-gray-100 {
  --bg-opacity: 1;
  background-color: rgba(247, 250, 252, var(--bg-opacity));
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-md {
  border-radius: 0.375rem;
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.text-sm {
  font-size: 0.875rem;
}
.text-xs {
  font-size: 0.75rem;
}
.font-bold {
  font-weight: 700;
}
.float-right {
  float: right;
}

.toast {
  transition: 3s all ease-in-out;
}
#topLeft {
  position: absolute;
  top: 0;
  left: 1em;
}
#topRight {
  position: absolute;
  top: 0;
  right: 3em;
}
#bottomRight {
  position: absolute;
  bottom: 0;
  right: 3em;
}
#bottomLeft {
  position: absolute;
  bottom: 0;
  left: 1em;
}
.toast {
  transition: 3s all ease-in-out;
}
.slide-out-left {
  animation: slide-out-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.slide-out-right {
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.slide-in-left {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.slide-in-right {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slide-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
